/* src/components/Banner.css */

/* Définir la hauteur de la bannière à 100vh pour qu'elle prenne toute la hauteur de l'écran */
.banner {
    width: 100%;
    height: 70vh;  /* Hauteur de 100% de la vue */
    background-image: url('/assets/openart-image_rACErt3v_1745082151702_raw.jpg');  /* Image de fond (assurez-vous de mettre le bon chemin) */
    background-size: cover;  /* Pour couvrir toute la surface */
    background-position: center;  /* Centrer l'image */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  /* Contenu de la bannière */
  .banner-content {
    text-align: center;
    color: var(--blanc);
    z-index: 2;  /* Placer le texte au-dessus de l'image */
  }
  
  .banner h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  .banner .btn-success {
    background-color: var(--orange);
    border-color: var(--orange);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .banner .btn-success:hover {
    background-color: #e65c2d;
    border-color: #e65c2d;
  }
  