.banner-carousel {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.banner-slide {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 2rem;
}

.slide1 {
  background-image: url('/assets/openart-image_D-wNcpOc_1745082151669_raw.png'); /* mets ici ton image */
  background-color: #ff6600; /* orange de base pour ton branding */
}

.slide2 {
  background-image: url('/assets/openart-image_3yX6v5Xb_1745652624163_raw.png');
  background-color: #000000; /* noir classe */
}

.slide3 {
  background-image: url('/assets/openart-image_p6WdWE6G_1745652875275_raw.jpg');
  background-color: #ffffff; /* blanc propre */
  color: black; /* pour que le texte soit visible */
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner-content p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.banner-content Button {
  margin-top: 1rem;
}
