.product-carousel {
  margin: 50px auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}

/* Flèches */
.slick-prev, .slick-next {
  background-color: #f58c42 !important;
  border: none;
  border-radius: 50%;
  padding: 10px;
  color: rgb(255, 255, 255) ;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 50px;
  height: 50px;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #f57c42;
  transform: scale(1.1) translateY(-50%);
}

.slick-prev:before, .slick-next:before {
  content: none;
}

.slick-prev::after, .slick-next::after {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.slick-prev::after {
  content: '\2190';
}

.slick-next::after {
  content: '\2192';
}

/* Slides */
.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  display: inline-block !important;
  padding: 0 10px;
  box-sizing: border-box;
}

/* ProductCard */
.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}

/* Ajustements Responsive */
@media (max-width: 1024px) {
  .product-card {
    max-width: 240px;
  }
}

@media (max-width: 768px) {
  .product-card {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .product-carousel {
    padding: 0 5px;
  }

  .product-card {
    max-width: 160px;
  }

  .slick-slide {
    padding: 0 5px;
  }
}
